<h1><%= @patient.name %> Info</h1>

<% @patient.doctors.each do |doctor| %>
    Doctor: <%= link_to doctor.name, doctor_path(doctor) %><br>

    <% doctor.appointments.each do |appointment| %>
        Date: <%= appointment.appointment_datetime.to_date.to_s(:long) %> at <%= appointment.appointment_datetime.strftime("%H:%M") %><br>
    <% end %><br>
<% end %>
